<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: headerFragment">

</head>
<body class="nav-md">

<div th:include="fragments/header :: bodyFragment"></div>
    
<div class="container">
   
    <div th:if="${not #strings.isEmpty(errorMessage)}"  class="container,bg-danger" style="text-align: center;">
        <div class="row">&nbsp;</div>
        <h3 th:text="${errorMessage}"></h3>
        <div class="row">&nbsp;</div>
      </div>
      <form id="applicationPropertiesForm" name="applicationPropertiesForm" action="/shi/admin/SaveApplicationProperties" th:object="${properties}"  method="post">
            <div class="clear-fix">&nbsp;</div>

      <div class="jumbotron formTextSize" >
      <!-- This is the Float button that is created in teh top of the Jumbotraon
      But as it is a float button, through the divSaveButton style, we always display it on the bottom of the screen -->
       <div class="row divSaveButton" style="left:1%; right: 1%;">
        	<div class="col-sm-12 text-center ">
        		<button type="submit" class="btn" style="background-color: #680013; color: white; " id="propertiesSubmitButton" name="propertiesSubmitButton" onclick="return saveApplicationProperties();" >Save</button>
          		<button type="button" class="btn btn-grey"  onclick="cancelButton();">Cancel</button>
        	</div>
        </div>
        <div id="errorMessage">
        	<span id="errormessageforApplicationProperties" style="font-weight: bold; font-size: 0.82rem; color: red;">
        		
        	</span>
        </div>
        <div class="list-group">
           <div class="list-group-item table-responsive" >
           		<h3 class="list-group-item-heading" >Application Values</h3><br/>
           		
           		<!-- 
           		   		  <div class="form-group row" >
           		  
    					<label for="customSwitches" class="col-sm-2 col-form-label text-right" >Application Status</label>
    					<div class="col-sm-4 custom-control custom-switch" >
      						 <input type="checkbox" class="custom-control-input" id="customSwitches">
    					</div>
    					
    					<label for="customSwitches" class="col-sm-2 col-form-label text-right" >Nightly Report Status</label>
    					<div class="col-sm-4 custom-control custom-switch" >
      						 <input type="checkbox" class="custom-control-input">
    					</div>
  					</div>
  					-->
  					
  					 <div class="form-group row">
    				
    				<label for="term" class="col-sm-2 col-form-label text-right">Application Start Date</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder="YYYY-MM-DD" th:field="*{applicationopendate}" >
      					</div>
    				</div>
    				<label for="year" class="col-sm-2 col-form-label text-right">Application End Date</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder="YYYY-MM-DD" th:field="*{applicationclosedate}">
      					</div>
    				</div>
  				</div>
  				
  				<div class="form-group row">
    				
    				<label for="term" class="col-sm-2 col-form-label text-right">Nightly Job Start Date</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder="YYYY-MM-DD" th:field="*{nightlyjobopendate}">
      					</div>
    				</div>
    				<label for="year" class="col-sm-2 col-form-label text-right">Nightly Job End Date</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder="YYYY-MM-DD" th:field="*{nightlyjobclosedate}">
      					</div>
    				</div>
  				</div>
  				
  				
  					<!--  <div class="form-group row" >
           		  
    					<label for="customSwitches" class="col-sm-2 col-form-label text-right" >Nightly Report Status</label>
    					<div class="col-sm-10 custom-control custom-switch" >
      						 <input type="checkbox" class="custom-control-input">
    					</div>
  					</div> -->
           		
           		  
 				 <div class="form-group row">
    				
    				<label for="term" class="col-sm-2 col-form-label text-right">Term</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder="e.g., 1074" th:field="*{currentterm}" oninput="updateSchoolYear()">
      					</div>
    				</div>
    				<label for="year" class="col-sm-2 col-form-label text-right">School Year</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder=" e.g., 2011" th:field="*{schoolyear}" disabled="disabled">
      					</div>
    				</div>
  				</div>
  					<div class="form-group row">
    				
    				<label for="optOut" class="col-sm-2 col-form-label text-right">Opt Out Deadline</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control"  placeholder="YYYY-MM-DD" th:field="*{opt_out_deadline}">
      					</div>
    				</div>
    				<label for="dateCharged" class="col-sm-2 col-form-label text-right">Date Charges Applied</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control"  placeholder="YYYY-MM-DD" th:field="*{date_charges_applied}">
      					</div>
    				</div>
  				</div>
  				
  				 				
  				<div class="form-group row">
    				
    				<label for="admin" class="col-sm-2 col-form-label text-right">Admin Users</label>
    				<div class="col-sm-10">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control"  placeholder="comma-delimited" th:field="*{admin_users}">
      					</div>
    				</div>
  				</div>
  				<div class="form-group row">
    				
    				<label for="from" class="col-sm-2 col-form-label text-right">From Email</label>
    				<div class="col-sm-10">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder=" Address in 'From' field of app emails" th:field="*{from_email}">
      					</div>
    				</div>
  				</div>

  				<div class="form-group row">
    				
    				<label for="periodCode" class="col-sm-2 col-form-label text-right">Period Code</label>
    				<div class="col-sm-10">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control"  placeholder="" th:field="*{periodcode}">
      					</div>
    				</div>
  				</div>
 		
           		
           	</div>
        </div>
     
<div class="clear-fix">&nbsp;</div>
         <div class="list-group">
           <div class="list-group-item table-responsive" >
           		<h3 class="list-group-item-heading" >College Reporting Values</h3><br/>
           		
           			 <div class="form-group row">
    				
    				<label for="campusId" class="col-sm-2 col-form-label text-right">Campus ID</label>
    				<div class="col-sm-2">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control"  placeholder="" th:field="*{campus_id}" maxlength="1">
      					</div>
    				</div>
    				<label for="policyNumber" class="col-sm-2 col-form-label text-right">Insurance Policy Number (College)</label>
    				<div class="col-sm-2">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder="" th:field="*{policy_num}">
      					</div>
    				</div>
    				
    				<label for="rowId" class="col-sm-2 col-form-label text-right">INSD Row ID (College)</label>
    				<div class="col-sm-2">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder="" th:field="*{st_insd_rowid}">
      					</div>
    				</div>
  				</div>
  				
  						 <div class="form-group row">
    				
    				<label for="startDate" class="col-sm-2 col-form-label text-right">Coverage Start Date (College)</label>
    				<div class="col-sm-2">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder=" e.g., YYYY-MM-DD" th:field="*{st_effective_date}">
      					</div>
    				</div>
    				<label for="endDate" class="col-sm-2 col-form-label text-right">Coverage End Date (College)</label>
    				<div class="col-sm-2">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder=" e.g., YYYY-MM-DD" th:field="*{st_exp_date}">
      					</div>
    				</div>
    				
    				<label for="fastTrackDate" class="col-sm-2 col-form-label text-right">Fast Track Start Date</label>
    				<div class="col-sm-2">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder=" e.g., YYYY-MM-DD" th:field="*{st_ft_start_date}">
      					</div>
    				</div>
  				</div>
  					<div class="form-group row">
    				
    				<label for="cost" class="col-sm-2 col-form-label text-right">Cost (College)</label>
    				<div class="col-sm-10">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder="" th:field="*{st_cost}">
      					</div>
    				</div>
  				</div>
  				
  					<div class="form-group row">
    				
    				<label for="bccEmails" class="col-sm-2 col-form-label text-right">Bcc Emails (College)</label>
    				<div class="col-sm-10">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder="comma-delimited" th:field="*{bcc_emails}">
      					</div>
    				</div>
  				</div>
           		
           	</div>
        </div>
        
<div class="clear-fix">&nbsp;</div>
           <div class="list-group">
           <div class="list-group-item table-responsive" >
           		<h3 class="list-group-item-heading" >SSOM Reporting Values</h3><br/>
           		
           			 <div class="form-group row">
    				
    				<label for="ssomCampusId" class="col-sm-2 col-form-label text-right">SSOM Campus ID</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" id="ssomCampusId" placeholder=""  th:field="*{med_campusid}">
      					</div>
    				</div>
    				<label for="ssomPolicyNumber" class="col-sm-2 col-form-label text-right">Insurance Policy Number (SSOM)</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder=""  th:field="*{med_policy_num}">
      					</div>
    				</div>
    				
    			
  				</div>
  				
  				
  				 <div class="form-group row">
    				
    				<label for="firstSsomRowId" class="col-sm-2 col-form-label text-right">1st Year SSOM INSD Row ID</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder=""  th:field="*{med1_insd_rowid}">
      					</div>
    				</div>
    				<label for="ssomRowId" class="col-sm-2 col-form-label text-right">SSOM INSD Row ID</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder=""  th:field="*{med_insd_rowid}">
      					</div>
    				</div>
    				
    			
  				</div>
  				
  				 <div class="form-group row">
    				
    				<label for="firstSsomCoverageStartDate" class="col-sm-2 col-form-label text-right">1st Year SSOM Coverage Start Date</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control"  placeholder="e.g., YYYY-MM-DD "  th:field="*{med1_start_date}">
      					</div>
    				</div>
    				<label for="firstSsomCoverageEndDate" class="col-sm-2 col-form-label text-right">1st Year SSOM Coverage End Date</label>
    				<div class="col-sm-4">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder="e.g., YYYY-MM-DD "  th:field="*{med1_end_date}">
      					</div>
    				</div>
    				
    			
  				</div>
  				
  				
  				<div class="form-group row">
    				
    				<label for="SsomCoverageStartDate" class="col-sm-2 col-form-label text-right">SSOM Coverage Start Date</label>
    				<div class="col-sm-2">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder="e.g., YYYY-MM-DD "  th:field="*{med_effective_date}">
      					</div>
    				</div>
    				<label for="SsomCoverageEndDate" class="col-sm-2 col-form-label text-right">SSOM Coverage End Date</label>
    				<div class="col-sm-2">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control" placeholder="e.g., YYYY-MM-DD "  th:field="*{med_exp_date}">
      					</div>
    				</div>
    				
    				<label for="SsomFastTrackStartDate" class="col-sm-2 col-form-label text-right">SSOM Fast Track Start Date</label>
    				<div class="col-sm-2">
      					<div class="md-form mt-0">
        					<input type="date" class="form-control"  placeholder="e.g., YYYY-MM-DD "  th:field="*{med_ft_start_date}">
      					</div>
    				</div>
    				
    			
  				</div>
  					<div class="form-group row">
    				
    				<label for="ssomCost" class="col-sm-2 col-form-label text-right">Cost (SSOM)</label>
    				<div class="col-sm-10">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control"  placeholder="e.g., 980.00"  th:field="*{med_cost}">
      					</div>
    				</div>
  				</div>
  				
  					<div class="form-group row">
    				
    				<label for="ssomBccEmails" class="col-sm-2 col-form-label text-right">Bcc Emails (SSOM)</label>
    				<div class="col-sm-10">
      					<div class="md-form mt-0">
        					<input type="text" class="form-control" placeholder="comma-delimited"  th:field="*{med_bcc_emails}">
      					</div>
    				</div>
  				</div>
           		
           	</div>
        </div>
  
      </div>
      </form>
</div>
<div th:include="fragments/footer :: footerFragment"></div>
<script>

function updateSchoolYear()
{


	var currentTerm = document.getElementById("currentterm").value;
	var year = document.getElementById("schoolyear").value;
	if(currentTerm.length==4)
	{
		var termSubString =  currentTerm.substr(3,3);
		var yearEnd = currentTerm.substr(1,2);
		var schoolYear = 0;
		if(termSubString == 6 || termSubString == 8)
		{
			schoolYear = 2000+parseInt(yearEnd)+1;
		}
		else
		{
			schoolYear = 2000+parseInt(yearEnd);	
		}
		document.getElementById("schoolyear").value =schoolYear;
		
	}
	else
	{
		document.getElementById("schoolyear").value = "";
	}
}


function cancelButton()
{
	
	window.location.replace("/shi/home");
	}
	
	function isEmpty(str)
	{
		return (!str || 0 === str.length);
	}

function saveApplicationProperties()
{
	var alreadyErrorPresent = false;
	
	
	var openDate = document.getElementById("applicationopendate").value;
	var endDate = document.getElementById("applicationclosedate").value;
	var errorMessage = "";
	
	if(isEmpty(openDate))
	{
		
		errorMessage = errorMessage+"Please enter Application Open Date. <br/>";
		
		alreadyErrorPresent = true;
	}
		
	
	
	if(isEmpty(endDate))
	{
		
		errorMessage = errorMessage+"Please enter Application Close Date.<br/>";
		
		alreadyErrorPresent = true;
	}
	
	
	
	
	
	
	if(openDate>=endDate)
	{
		document.getElementById('applicationopendate').setCustomValidity('Please enter Application Open Date that is before Application Close Date.');
		document.getElementById('applicationopendate').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter Application Open Date that is before Application Close Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	else
	{
		document.getElementById('applicationopendate').setCustomValidity('');
		document.getElementById('applicationopendate').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}

	var jobStartDate = document.getElementById("nightlyjobopendate").value;
	var jobEndDate = document.getElementById("nightlyjobclosedate").value;
	
	if(isEmpty(jobStartDate))
	{
		
		errorMessage = errorMessage+"Please enter Nightly Job Start Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	

	if(isEmpty(jobStartDate))
	{
		
		errorMessage =errorMessage+"Please enter Nightly Job End Date. <br/>";
		
		alreadyErrorPresent = true;
	}
		
	if(jobStartDate>=jobEndDate)
	{
		document.getElementById('nightlyjobopendate').setCustomValidity('Please enter Nightly Job Open Date that is before Nightly Job Close Date.');
		document.getElementById('nightlyjobopendate').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter Nightly Job Open Date that is before Nightly Job Close Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	else
	{
		document.getElementById('nightlyjobopendate').setCustomValidity('');
		document.getElementById('nightlyjobopendate').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}
	
	
	var currentTerm = document.getElementById("currentterm").value;
	var year = document.getElementById("schoolyear").value;
	if(year.length!=4)
	{
		document.getElementById('schoolyear').setCustomValidity('Please enter School Year in YYYY format.');
		document.getElementById('schoolyear').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter School Year in YYYY format. <br/>";
		
		alreadyErrorPresent = true;
	}
	else
	{
		document.getElementById('schoolyear').setCustomValidity('');
		document.getElementById('schoolyear').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}
	
	
	if(currentTerm.length!=4)
	{
		document.getElementById('currentterm').setCustomValidity('Please enter Term in correct format.');
		document.getElementById('currentterm').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter Term in correct format. <br/>";
		
		alreadyErrorPresent = true;
	}
	else
	{
		document.getElementById('currentterm').setCustomValidity('');
		document.getElementById('currentterm').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}
	
	
	
	var dateChargedApplied = document.getElementById("date_charges_applied").value;
	if(isEmpty(dateChargedApplied))
	{
		
		errorMessage = errorMessage+"Please enter Date Charges Applied. <br/>";
		
		alreadyErrorPresent = true;
	}
	
	
	
	var optOutDeadline = document.getElementById("opt_out_deadline").value;
	if(isEmpty(optOutDeadline))
	{
		
		errorMessage = errorMessage+"Please enter Opt Out Deadline. <br/>";
		
		alreadyErrorPresent = true;
	}
	
	
	
	if(optOutDeadline>endDate)
	{
		document.getElementById('opt_out_deadline').setCustomValidity('Please enter Opt Out Deadline that is before or equal to Application End Date.');
		document.getElementById('opt_out_deadline').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter Opt Out Deadline that is before or equal to Application End Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	else
	{
		document.getElementById('opt_out_deadline').setCustomValidity('');
		document.getElementById('opt_out_deadline').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}
	
	
	
	var coverageStartDate = document.getElementById("st_effective_date").value;
	var coverageEndDate = document.getElementById("st_exp_date").value;
	
	
	
	if(isEmpty(coverageStartDate))
	{
		
		errorMessage = errorMessage+"Please enter Coverage Start Date (College). <br/>";
		
		alreadyErrorPresent = true;
	}
	

	if(isEmpty(coverageEndDate))
	{
		
		errorMessage = errorMessage+"Please enter Coverage End Date (College). <br/>";
		
		alreadyErrorPresent = true;
	}
	
	
	
	
	
	if(coverageStartDate>=coverageEndDate)
	{
		document.getElementById('st_effective_date').setCustomValidity('Please enter Coverage Start Date (College) that is before Coverage End Date (College).');
		document.getElementById('st_effective_date').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter Coverage Start Date (College) that is before Coverage End Date (College). <br/>";
		
		alreadyErrorPresent = true;
	}
	
	else
	{
		document.getElementById('st_effective_date').setCustomValidity('');
		document.getElementById('st_effective_date').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}
	
	var fastTrackDeadline = document.getElementById("st_ft_start_date").value;
	if(isEmpty(fastTrackDeadline))
	{
		
		errorMessage = errorMessage+"Please enter Fast Track Start Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	
	if(fastTrackDeadline>=coverageStartDate)
	{
		document.getElementById('st_ft_start_date').setCustomValidity('Please enter Fast Track Start Date that is before Coverage Start Date (College).');
		document.getElementById('st_ft_start_date').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter Fast Track Start Date that is before Coverage Start Date (College). <br/>";
		
		alreadyErrorPresent = true;
	}
	else
	{
		document.getElementById('st_ft_start_date').setCustomValidity('');
		document.getElementById('st_ft_start_date').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}
	
	
	
	
	var med1StartDate = document.getElementById("med1_start_date").value;
	var med1EndDate = document.getElementById("med1_end_date").value;
	
	if(isEmpty(med1StartDate))
	{
		
		errorMessage = errorMessage+"Please enter 1st Year SSOM Coverage Start Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	

	if(isEmpty(med1EndDate))
	{
		
		errorMessage = errorMessage+"Please enter 1st Year SSOM Coverage End Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	
	
	if(med1StartDate>=med1EndDate)
	{
		document.getElementById('med1_start_date').setCustomValidity('Please enter 1st Year SSOM Coverage Start Date that is before 1st Year SSOM Coverage End Date.');
		document.getElementById('med1_start_date').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter 1st Year SSOM Coverage Start Date that is before 1st Year SSOM Coverage End Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	else
	{
		document.getElementById('med1_start_date').setCustomValidity('');
		document.getElementById('med1_start_date').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}
	
	
	var medStartDate = document.getElementById("med_effective_date").value;
	var medEndDate = document.getElementById("med_exp_date").value;
	
	
	if(isEmpty(medStartDate))
	{
		
		errorMessage = errorMessage+"Please enter SSOM Coverage Start Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	

	if(isEmpty(medEndDate))
	{
		
		errorMessage = errorMessage+"Please enter SSOM Coverage End Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	
	
	if(medStartDate>=medEndDate)
	{
		document.getElementById('med_effective_date').setCustomValidity('Please enter SSOM Coverage Start Date that is before SSOM Coverage End Date.');
		document.getElementById('med_effective_date').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter SSOM Coverage Start Date that is before SSOM Coverage End Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	else
	{
		document.getElementById('med_effective_date').setCustomValidity('');
		document.getElementById('med_effective_date').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}
	
	
	var medfastTrackDeadline = document.getElementById("med_ft_start_date").value;
	
	if(isEmpty(medfastTrackDeadline))
	{
		
		errorMessage = errorMessage+"Please enter SSOM Fast Track Start Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	
	
	
	if(medfastTrackDeadline>=medStartDate)
	{
		document.getElementById('med_ft_start_date').setCustomValidity('Please enter SSOM Fast Track Start Date that is before SSOM Coverage Start Date.');
		document.getElementById('med_ft_start_date').style.backgroundImage = "linear-gradient(to right, #ffe359 0%, #fff2ac 100%)";
		errorMessage = errorMessage+"Please enter SSOM Fast Track Start Date that is before SSOM Coverage Start Date. <br/>";
		
		alreadyErrorPresent = true;
	}
	else
	{
		document.getElementById('med_ft_start_date').setCustomValidity('');
		document.getElementById('med_ft_start_date').style.backgroundImage= "linear-gradient(to right, #ffffff 0%, #ffffff 100%)";
	}
	
	
	
	
	
	if(alreadyErrorPresent)
	{
		document.getElementById('errormessageforApplicationProperties').innerHTML = errorMessage;
		
		return false;
	}
	else
	{
		return true;	
	}
}



</script>
</body>
</html>           		