<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head  th:fragment="headerFragment">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link th:href="@{/images/lucicon.ico}" rel="shortcut icon" type="image/x-icon"></link>
<title>Online Shopping Application</title>
<script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>

<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script> 

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 <link th:href="@{/css/adjust.css}" rel="stylesheet"></link>
 <link th:href="@{/css/adjust2.css}" rel="stylesheet"></link>

 <!-- <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>

<link th:href="@{/css/button-loyola.css}" rel="stylesheet"></link>
 --> 


 



<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/css/mdb.min.css" rel="stylesheet"> 



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/js/mdb.min.js"></script>

<!-- 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>

-->


<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>

-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>




<style>
.example
{
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	box-shadow: 2px 2px 3px #999;
}

.formTextSize
{
	font-size: 0.78rem;
	font-weight: bold;
}

.navBarFontColor
{
	color: white;
}

.btn-primary
{
	background-color: #680013 !important;
}
.dropdown-item
{
	color: white !important;
}
.dropdown-item:hover
{
	
	background-color: #EEB111 !important;
	

}


.nav-item:hover
{
	color: white !important;
	background-color: #EEB111 !important;
	
	
	
}
.nav-link:hover
{
	color:white !important;
	
}

.divSaveButton {

	

	 background-color: black;
	z-index: 1000;
  position:fixed;
  opacity:0.9;
   bottom: 2%;
	text-align:center;
	
}




.my-floatx{
	margin-top:22px;
}


#optOutTable td, #optOutTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#optOutTable  tr:nth-child(even){background-color: #f2f2f2;}

#optOutTable tr:hover {background-color: #ddd;}


</style>
</head>
<body >

<div th:fragment="bodyFragment">
<script>
function setupLoadingScreen()
{
	document.getElementById("pageLoadingDIV").style.display="block";	
	document.getElementById("pageLoadingDIV").style.zindex="9999";
}
</script>
<div id="pageLoadingDIV" style="background-color: black; width: 100%;height: 100%; top:0; left:0; position:fixed; padding:0;margin:0; filter: alpha(opacity=75); opacity: 0.75; display:block; z-index: 9999" >
<div style="background-color: whitex; top:50%; left:50%; transform: translate(-50%, -50%);position:fixed;  ">
<img alt="" src="/shi/images/Pulse-1.1s-191px.gif"/>
<span style="color: white; font-size: 2.0rem;font-weight: bold;">Page Loading...</span>
</div>

</div>



<div class="container">
  <div class="row">
    <div class="col-sm-6">
     <img alt="" th:src="@{/images/luc-logo.png}"></img>
    </div>
 
   <div class="col-sm-6 text-right" th:if="${session.loggedin == 'true'}">
      <a href="/online/logout" class="btn btn-primary btn-sm">Log out</a>
    </div>
     <div class="col-sm-6 text-right" th:if="${session.loggedin != 'true'}">
      <a href="/online/getorderlist" class="btn btn-primary btn-sm">Log In</a>
    </div>
  </div>
</div>

<div class="clear-fix">&nbsp;</div>

<div class="container">

  <div class="masthead">
			


<div class="container" style="text-align: center;   ">

<h1>Online Shopping Application</h1>


</div>
<br/>&nbsp;

<input type="hidden" id="alertCurrentlyWorkedUpon" name="alertCurrentlyWorkedUpon" value=""></input>




</div>


<nav class="navbar navbar-expand-lg bg-maroon" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" >
      <li class="nav-item active">
        <a class="nav-link navBarFontColor" href="/online/home" onclick="setupLoadingScreen();">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item" >
        <a class="nav-link navBarFontColor" href="/online/getorderlist" onclick="setupLoadingScreen();">Order Details</a>
      </li>
     
   
      
      </ul>
      </div>
  

</nav>



</div>


<script th:inline="javascript">
/*<![CDATA[*/
	var so = /*[[${source}]]*/;
	
	//element = document.getElementById(so);
	//element.style.backgroundcolor = "#FEBD18";
	//alert('is this running');
 	//element.classList.remove("btn-info");
 	//element.classList.add("btn-success");
 	

/*]]>*/
</script>
</body>
</html>