@charset "UTF-8";
/* CSS Document */

body {
  padding-top: 40px;
  padding-bottom: 40px;

}
a{color:#a30046;}
.masthead h3 {background:url(http://nanna.luc.edu:9080/alert/static/images/luc-logo.png) no-repeat;background-size:contain;text-indent:-99999px;margin:10px;line-height:40px}
.masthead .logo { height: 40px; margin: 10px;}
.masthead .logout { text-align: right; padding: 5px;}
.jumbotron {padding:50px}
.jumbotron h1{font-size:40px;margin-bottom:10px;}
.jumbotron h3{font-size:20px;font-weight:bold;}
.jumbotron h4{font-size: 18px; font-weight: bold; margin-bottom: 5px;}
.jumbotron p {font-size: 16px;}
.list-group-item {background-color: white !important; box-shadow: 0px 15px 18px #888888;}


ul.nav a:hover { background-color: #FEBD18  !important;color: #fff !important; }
/*ul.nav a:hover { background-color: #f0f0f0  !important;color: #000 !important; }*/


.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;

		background: #f0f0f0;
	padding:  25px;
	text-align: center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	margin: 0 auto 30px;
}
.btn-primary {border-color:#000;background-image:none;}
.btn-primary,  .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #680013;
    border-color: #eeb111;
    color: #FFFFFF;
	
}
.btn-primary:hover 
{
	background-color: #FEBD18  !important;color: #fff !important; 
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}



.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-control {border: 1px solid #680013;width:100%;}
.form-signin .form-control:focus {
  z-index: 2;border: 1px solid #680013;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.form-signin h1 {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #412909;
	padding-bottom: 10px;
	text-align: left;
}

.form-signin h2 {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #412909;
	padding-bottom: 10px;
	text-align: left;
	margin-top:10px;
}
.form-signin p {text-align:left}
.loginlogo{margin:0 auto;display:block;}

/* Portrait tablet to landscape and desktop */
@media (max-width: 767px)  { .jumbotron h1{font-size:20px}.jumbotron {padding:10px}}
